requests==2.32.0
azure-identity==1.15.0
sumologic-sdk==0.1.15
azure-mgmt-resource==23.0.1
azure-mgmt-loganalytics==12.0.0
azure-monitor-query==1.2.0
azure-mgmt-storage==21.1.0
azure-storage-blob==12.19.0
azure-storage==0.36.0
azure-cosmosdb-table==1.0.6