requests==2.20.0
azure-storage-blob==1.1.0
azure-mgmt-resource==1.2.2
azure-mgmt-storage==1.0.0
azure-storage==0.34.3
azure-mgmt-eventgrid==1.0.0
azure-mgmt-eventhub==1.2.0
azure-cosmosdb-table==1.0.2




